div.content-title 
		h2 文书评查
		span(class="content-title-info") #{wsfilename}
div(class="content-body content-exam")
		div(class="examine-info total")
			ul.examine-total
				li#normal-request-total 
					h3.total-title 一般要求
					div.total-media
						div.total-text 
							span(class="total-text1") 此处评价为
							span(class="total-text2 good") 良好
						div.total-chart#normal-request-chart 
					div.total-footer 您还有 <span class="total-footer-number completed"> 0 </span> 项信息等待填写
				li#facts-total
					h3.total-title 事实叙述
					div.total-media
						div.total-text 
							span(class="total-text1") 此处评价为
							span(class="total-text2 unkonw") 未知
						div.total-chart#facts-chart 
					div.total-footer 您还有 <span class="total-footer-number incompleted"> 2 </span> 项信息等待填写
				li#evidence-total
					h3.total-title 证据采纳与采信
					div.total-media
						div.total-text 
							span(class="total-text1") 此处评价为
							span(class="total-text2 unkonw") 未知
						div.total-chart#evidence-chart 
					div.total-footer 您还有 <span class="total-footer-number incompleted"> 3 </span> 项信息等待填写
				li#reason-total
					h3.total-title 裁判理由
					div.total-media
						div.total-text 
							span(class="total-text1") 此处评价为
							span(class="total-text2 excellent") 优秀
						div.total-chart#reason-chart 
					div.total-footer 您还有 <span class="total-footer-number completed"> 0 </span> 项信息等待填写
				li#result=total
					h3.total-title 裁判结果
					div.total-media
						div.total-text 
							span(class="total-text1") 此处评价为
							span(class="total-text2 fair") 中等
						div.total-chart#result-chart 
					div.total-footer 您还有 <span class="total-footer-number completed"> 0 </span> 项信息等待填写
		div(class="examine-info normal-request")
			h3.items-title 一般要求
			table.table
				tr.first
					td 
						span(class="square correct")
					td 
						span 法院名称准确
					td 
						span 没有问题
					td
						span 10分
					td 
						span 查看
					td 
						img(src="static/img/文书评查图标/完成.png" alt="correct")
				tr
					td 
						span(class="square incorrect")
					td 
						span 文书种类准确
					td 
						span 文书种类和结案方式类型不一致
					td
						span 0分
					td 
						span 查看
					td 
						img(src="static/img/文书评查图标/警示.png" alt="incorrect")

		div(class="examine-info facts")
			h3.items-title 事实叙述
			table.table
				tr.first
					td
						span(class="square unkonw")
					td
						span （刑事）被告人犯罪动机、目的、过程、危害结果等事实表述清晰
					td
						span(class="waiting show unkonw") 等待评价
						span(class="writing hide") 
							input(type="text" placeholder="请输入你的评价" name="evaluation")
						span(class="wrote hide") 
						span(class="warning hide")
					td
						span -分
					td
						button(class="button-evaluate unkonw") 立即评价
					td
						span 查看
					td
						img(src="static/img/文书评查图标/注意.png" alt="unkonwn")
				tr
					td 
						span(class="square incorrect")
					td 
						span 文书种类准确
					td 
						span 文书种类和结案方式类型不一致
					td
					td
						span 0分
					td 
						span 查看
					td 
						img(src="static/img/文书评查图标/警示.png" alt="incorrect")
		div(class="examine-info evidence")
			h3.items-title 证据采纳与采信
		div(class="examine-info reason")
			h3.items-title 裁判理由
		div(class="examine-info result")
			h3.items-title 裁判结果

		

		
			
		