.content-body.content-exam{
	height: inherit;
	min-height: 722px;
	border-bottom:1px solid #aaa;
	position: relative;
	width: 100%;
	background-color: #eee;
	padding-top:40px; 
}

.examine-info{
	min-height: 184px;
	width: 90%;
	margin:0 auto;
	margin-bottom: 40px;
	background-color: #fff;
	border:1px solid #e0e0e0;
}

.examine-total{
	padding-top:12px; 
}

.examine-total li{
	box-sizing: border-box;
	display: inline-block;
	border-right: 1px solid #e0e0e0;
	width: 20%;
	position: relative;
	padding-left: 18px; 

}

.examine-total li:nth-child(5){
	border: none;
}

.total-title,.items-title{
	color:#86878D;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 0px
}

.total-text{
	display: inline-block;
	width: 50%;
}

.total-text1,.total-footer{
	font-size: 14px;
	color: #2B82BE;
	display: block;
}

.total-text2{
	font-size: 26px;
	display: inline-block;
	margin: 10px 0 20px 17px;
}

.total-chart{
	width: 120px;
	height: 120px;
	position: absolute;
	right: -2px;
	top:20;
}

.total-text2.good{
	color: #7ED321;
}

.unkonw{
	color:#F6A623;
}

.total-text2.excellent{
	color:#FF435A;
}

.total-text2.fair{
	color:#8B572A;
}

.total-text2.poor{
	color:#4A4A4A;
}

.total-footer{
	margin-top:5px;
}

.total-footer-number{
	font-size: 22px;
	font-weight: 300;
	margin-left: 2px;
}

.total-footer-number.completed{
	color: #7ED321;
}

.total-footer-number.incompleted{
	color:#DD041E;
}

.items-title{
	padding: 12px 12px;
	margin:0px 8px;
	border-bottom: 1px solid #e0e0e0; 
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
	max-width: 95%;
	box-sizing: border-box;
	color:#7A7B81;
	margin:0 auto;
}

.table td{
	padding: 8px;
	line-height: 1.42;
	vertical-align: middle;
	border-top:1px solid #e0e0e0; 
	min-height: 65px;
}


.table .first td{
	border: none;
}

.table .last td{
	padding-bottom: 30px;
}

.table .square {
	display: inline-block;
	width: 10px;
	height: 10px;
}

.table tr td:nth-child(1){
	width: 5%
}

.table tr td:nth-child(2){
	width: 30%;
}

.table tr td:nth-child(3){
	width: 30%;
	text-align: center;
}

.table tr td:nth-child(4){
	width: 8%;
}

.table tr td:nth-child(5){
	width: 14%;
}

.table tr td:nth-child(6){
	width: 8%;
}

.table tr td:nth-child(7){
	width: 5%;
}

.square.correct {
	background-color: #7ED321;
}

.square.incorrect {
	background-color: #EB534F;
}

.square.unkonw {
	background-color: #F6A623;
}

.button-evaluate,.button-evaluate-compelete {
	cursor: pointer;
	border-radius: 20px;
	border:1px solid #F6A623;
	outline: none;
	background: transparent;
	font-size: 14px;
	padding: 0px 15px;
}

.button-evaluate:hover,.button-evaluate-compelete:hover{
	border-color:hsla(37, 92%, 70%, 1);
	color:hsla(37, 92%, 70%, 1);
}

.button-evaluate:active,.buton-evaluate-compelete:active {
	color:#fff;
	background-color: #F6A623;
}

.hide{
	display: none;
}

.show{
	display: inline-block;
}

.writing>input {
	height: 40px;
	border: 1px solid #ccc;
	border-radius:4px;
	color:#555;
	padding: 6px 12px;
	font-size:16px;
	line-height: 1.428;
	width:90%; 
}

.warning {
	color:#fc4343;
	font-size: 12px;
}

.error>input {
	border: 1px solid #fc4343;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #bbb;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bbb;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bbb;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #bbb;
    font-style: italic;
}





